:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --dark-blue-main-bg: hsl(217, 54%, 11%);
  --dark-blue-card-bg: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--dark-blue-main-bg);
  color: var(--White);

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Outfit', sans-serif;
  font-weight: 300;

  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--cyan);
}

.container {
  width: 23.4rem;
  margin: 0 auto;
}

.main {
  background: var(--dark-blue-card-bg);
  width: 90%;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 1rem;
}

.main-image {
  width: 100%;

  border-radius: 1rem;
}

.main h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1.5rem 0;
}

.main p {
  font-size: 1.1rem;
  color: var(--soft-blue);
}

.data {
  display: flex;
  align-items: center;
  padding: 1.5rem 0;

  border-bottom: 1px solid var(--very-dark-blue-line);
}

.data p {
  margin-left: 0.5rem;
}

.data .value {
  color: var(--cyan);
  margin-right: 5.3rem;
  font-weight: 400;
}

.author {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
}

.author img {
  width: 2rem;
  margin-right: 1rem;
}

.author-name {
  color: var(--White);
}

.attribution {
  margin: 1rem auto;
  width: 90%;
  text-align: center;
  bottom: 0;
}